<h2>Projects</h2>

<div id="toggles" class="tags"></div>

<div id="results">
  {%- for p in site.nostrResources -%}
    {%- if p.tags -%}
      {%- assign url = p.git | default: p.web -%}
      <div class="result {{ p.tags | join: " " }} {{ p.platforms | join: " " }} {{ p.nips | join: " " }}">
        <div class="name"><a href="{{ url }}">{{ p.title }}</a></div>
        <div class="details"></div>
        <div class="instances">{% if p.instances %}Instances:<ul>{%- for i in p.instances -%}
          <li><a href="{{ i.url | default: i }}">{{ i.name | default: i }}</a>{%- if i.comment -%}: {{ i.comment }}{%- endif -%}</li>
          {%- endfor -%}</ul>{%- endif -%}</div>
        <div class="dev">
          {% if p.license %}License: {{ p.license }}<br>{%- endif -%}
          {% if p.progLang %}Implemented with {{ p.progLang | join: ", " }}{%- endif -%}
          {% if p.authorNPub %} by <a href="https://snort.social/p/{{ p.authorNPub }}">
            <img class="avatar" src="/images/nostrich.webp"></a>
          {%- endif -%}
        </div>
        <div class="tags">
          {%- for t in p.platforms -%}{% include tag.html tag=t type="platform" %}{%- endfor -%}
          {%- for t in p.tags -%}{% include tag.html tag=t type="tag" %}{%- endfor -%}
          {%- for t in p.nips -%}{% include tag.html tag=t type="nip" %}{%- endfor -%}
        </div>
        <div class="gh">{%- if p.git contains 'https://github.com/' -%}{%- assign repo = p.git | remove: "https://github.com/" -%}<img src="https://img.shields.io/github/stars/{{ repo }}.svg?style=social" alt="stars">{%- endif -%}</div>
        <div class="details">{%- if p.content.size > 20 -%}<a href="{{ p.url }}">🔍</a>{%- endif -%}</div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>

<script src="/js/resources.js"></script>
<link rel="stylesheet" href="{{ base_path }}/assets/css/resources.css" />
