.event {
  white-space: nowrap;
  background-color: lightgray;
}

.kind-0 {
  background-color: lightblue;
}

.kind-1 {
  background-color: lightgreen;
}

.kind-2 {
  background-color: pink;
}

.kind-3 {
  background-color: navy;
  color: white;
}

.kind-4 {
  background-color: lightcoral;
}

.kind-5 {
  background-color: brown;
  color: white;
}

.kind-6 {
  background-color: darkblue;
  color: yellow;
}

.kind-7 {
  background-color: bisque;
}

.kind-60 {
  background-color: darkgray;
  color: lightgray
}

.meta {
  display: inline-block;
  overflow: clip;
  width: 15em;
  cursor: pointer;
}

.meta > img {
  object-fit: cover;
  width: 1em;
  height: 1em;
}

.expand, .collapse {
  cursor: pointer;
}

#output > pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}