#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  position: relative;
}

.result {
  width: 10em;
  min-height: 3em;
  background: #DDD;
  margin: 1em;
  border-radius: 20px;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.name {
  position: relative;
  width: 50%;
}

.details {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.gh {
  position: absolute;
  top: 1em;
  right: 1em;
}

.dev {
  background: #aac;
  border-left: 1px solid blue;
  border-radius: 0 5px 5px 0;
  padding: 0.2em;
  margin: 0.3em 0 0.3em 0;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  position: relative;
  width: 80%
}

.tag {
  background: #BBB;
  margin: 0.2em;
  margin-left: 0;
  border-radius: 5px;
  padding: 0.2em;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  cursor:pointer;
  cursor:hand;
}

.tag.active {
  background: #8B8;
}

.tag.available {
  background: #BBB;
}

.tag.unavailable {
  background: #B88;
}

.platform {
  border: solid blue 1px;
}

.nip {
  border: solid orange 1px;
}

.avatar {
  height: 1em;
  border-radius: 50%;
  margin-right: 0.2em;
}

.instances {
  overflow-x: clip;
}
